@using FreakyFashion.Data.Entities
@model List<Category>
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <h2 class="text-center">Categories</h2>
    <div class="row h-25 ">

        @foreach (var category in Model.Take(3))
        {

            <div class="col w-25">

                <a href="/Category/@category.Id"><img src="@category.ImageUrl" /> </a>

            </div>
        }
    </div>

</div>

