@using FreakyFashion.Data.Entities
@model List<Product>
@{
    ViewData["Title"] = "Home page";
}
    <div class="row">
        <h2 class="text-center">Popular Products </h2>
        <div class="w-50"></div>
        @foreach (var product in Model.Take(8))
        {

            <div class="col w-25">
                <img src="@product.ImageUrl" />
             </div>



        }

    </div>
