@using FreakyFashion.Data.Entities
@model List<Product>
@{
    ViewData["Title"] = "Home page";
}
    <div class="container">
        <h2 class="text-center">Popular Products </h2>
        <hr class="w-25" />

        <div class="row h-25">

            @foreach (var product in Model.Take(8))
            {
                <div class="col w-25 m-2">
                    <a href="/Product/@product.Id"><img src="@product.ImageUrl" /> </a>
                </div>
            }

        </div>
    </div>