@page "{id}"
@model FreakyFashion.CategoryModel
@{
    ViewData["Title"] = "Category";
 
}


    <div class="row">
        @foreach (var item in Model.Category.CategoryProducts)
        {

            <div class="col">

                <a href="/Product/@item.Product.Id"><img src="@item.Product.ImageUrl" /> </a>

            </div>
        }
    </div>

 

